## Dependencies

In [1]:
!pip install spacy
!python -m spacy download en_core_web_sm

Requirement already satisfied: spacy in c:\users\chan ho park\anaconda3\lib\site-packages (2.1.8)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (2.21.0)
Requirement already satisfied: wasabi<1.1.0,>=0.2.0 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (0.2.2)
Requirement already satisfied: srsly<1.1.0,>=0.0.6 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (0.1.0)
Requirement already satisfied: thinc<7.1.0,>=7.0.8 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (7.0.8)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (2.0.2)
Requirement already satisfied: preshed<2.1.0,>=2.0.1 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (2.0.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (1.0.2)
Requirement already satisfied: numpy>=1.15.0 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (1.16.3)
Requirement already satisfied: blis<0.3.0,>=0.2.2 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (0.2.4)
Requirement already satisfied: plac<1.0.0,>=0.9.6 in c:\users\chan ho park\anaconda3\lib\site-packages (from spacy) (0.9.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\chan ho park\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\chan ho park\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\chan ho park\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\chan ho park\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2018.11.29)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in c:\users\chan ho park\anaconda3\lib\site-packages (from thinc<7.1.0,>=7.0.8->spacy) (4.28.1)
Requirement already satisfied: en_core_web_sm==2.1.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0 in c:\users\chan ho park\anaconda3\lib\site-packages (2.1.0)
[+] Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [109]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer
import nltk

In [110]:

#https://towardsdatascience.com/named-entity-recognition-with-nltk-and-spacy-8c4a7d88e7da
#     pprint([(X.text, X.label_) for X in doc.ents])

def english(sent):
    try:
        return len(re.findall('[A-z]',sent))/len(sent) > 0.5
    except:
        return False 
def tokenize(comment,nlp):  
    doc = nlp(str(comment))
    return doc

def entity(comment):
    comment = [(X.text, X.label_) for X in comment.ents]
    return comment
def keyword(sent):
    #https://pythonprogramming.net/natural-language-toolkit-nltk-part-speech-tagging/
    out = [] 
    sent = sent.split()
    sent = nltk.pos_tag(sent)
    for word in sent:
        if word[0] in ['perfect','although','recommend','great','nice','near','close','old','noisy','convenient',]:
            out.append(word[0])
        try:
            word[1].index('JJ')
            out.append(word[0].lower())
        except:
            try:
                word[1].index('RB')
                out.append(word[0].lower())
            except:
                pass
    return out

def word(comment):
    return [ X for X in comment]

def stopword(sent,stop_list):
    sent = word_tokenize(sent)
    out = []
    for w in sent:
        if w not in stop_list and len(w) >2:
            out.append(str(w))
    return out
def clean(sent,lemma):
    out = []
    sent = nltk.pos_tag(sent)
    for word in sent:
        try:
            word[1].index('V')
            out.append(lemma.lemmatize(word[0].lower(),'v'))
        except:
            out.append(lemma.lemmatize(word[0].lower()))
    return " ".join(out)

In [112]:
review = pd.read_csv('./Data/reviews.csv',nrows=4000)

In [113]:
lemmatizer = WordNetLemmatizer()
stop_list = set(stopwords.words('english'))
nlp = en_core_web_sm.load()
print(review.shape)
print(review.columns)

review['eng'] = review['comments'].apply(english)
review['comments'] = review['comments'][review['eng'] == True].apply(stopword, args=(stop_list,))
review['comments'] = review['comments'][review['eng'] == True].apply(clean, args=(lemmatizer,))
review['comment_token'] = review['comments'][review['eng'] == True].apply(tokenize, args=(nlp,))
review['keyword'] = review['comments'][review['eng']== True].apply(keyword)
review['entities'] = review['comment_token'][review['eng'] == True].apply(entity)
# review['words'] = review['comment_token'][review['eng'] == True].apply(word)

(4000, 6)
Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [38]:
review[review['keyword'].isna()].head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments,eng,comment_token,keyword,entities,negCount
57,69074,121083577,2016-12-13,46336404,沉沉,NaN,False,NaN,NaN,NaN,0.0
61,69074,129739011,2017-02-01,105815180,Cecilia,NaN,False,NaN,NaN,NaN,0.0
70,69074,170223813,2017-07-15,110099295,Jichu,NaN,False,NaN,NaN,NaN,0.0
71,69074,171567632,2017-07-18,69885276,Yilia,NaN,False,NaN,NaN,NaN,0.0
72,69074,174454984,2017-07-26,110252333,刘昱钦,NaN,False,NaN,NaN,NaN,0.0

In [2]:
from gensim import models

w2v = models.KeyedVectors.load_word2vec_format('../GoogleNews.bin',binary=True)

array([ 0.04052734,  0.0625    , -0.01745605,  0.07861328,  0.03271484,
       -0.01263428,  0.00964355,  0.12353516, -0.02148438,  0.15234375,
       -0.05834961, -0.10644531,  0.02124023,  0.13574219, -0.13183594,
        0.17675781,  0.27148438,  0.13769531, -0.17382812, -0.14160156,
       -0.03076172,  0.19628906, -0.03295898,  0.125     ,  0.25390625,
        0.12695312, -0.15234375,  0.03198242,  0.01135254, -0.01361084,
       -0.12890625,  0.01019287,  0.23925781, -0.08447266,  0.140625  ,
        0.13085938, -0.04516602,  0.06494141,  0.02539062,  0.05615234,
        0.24609375, -0.20507812,  0.23632812, -0.00860596, -0.02294922,
        0.05078125,  0.10644531, -0.03564453,  0.08740234, -0.05712891,
        0.08496094,  0.23535156, -0.10107422, -0.03564453, -0.04736328,
        0.04736328, -0.14550781, -0.10986328,  0.14746094, -0.23242188,
       -0.07275391,  0.19628906, -0.37890625, -0.07226562,  0.04833984,
        0.11914062,  0.06103516, -0.12109375, -0.27929688,  0.05200195,
        0.04907227, -0.02709961,  0.1328125 ,  0.03369141, -0.32226562,
        0.04223633, -0.08789062,  0.15429688,  0.09472656,  0.10351562,
       -0.02856445,  0.00128174, -0.00427246,  0.24609375, -0.05957031,
       -0.16894531, -0.09619141,  0.16796875,  0.0133667 ,  0.04882812,
        0.08349609,  0.06347656, -0.00872803, -0.08642578, -0.03857422,
       -0.08251953,  0.15722656,  0.22753906, -0.00762939, -0.19921875,
       -0.06347656,  0.12792969, -0.06347656, -0.03027344,  0.0456543 ,
        0.06298828, -0.02526855, -0.06787109, -0.01141357, -0.13574219,
        0.02978516,  0.10400391, -0.15917969, -0.08447266,  0.29882812,
       -0.12597656,  0.11425781, -0.08105469, -0.09082031, -0.07910156,
       -0.11181641, -0.09619141,  0.02770996,  0.14257812, -0.26757812,
       -0.09375   ,  0.03979492, -0.17871094, -0.02819824,  0.01464844,
       -0.31640625, -0.24511719, -0.08935547,  0.09716797, -0.00964355,
       -0.14746094,  0.15234375,  0.21582031,  0.05981445,  0.23828125,
       -0.05151367,  0.14941406,  0.13574219, -0.03222656, -0.265625  ,
       -0.11181641, -0.23046875, -0.140625  ,  0.25585938, -0.15429688,
        0.1796875 ,  0.15527344, -0.21582031,  0.36328125, -0.1015625 ,
        0.04980469,  0.07177734, -0.14550781, -0.03198242,  0.00952148,
       -0.12109375,  0.12109375,  0.09765625,  0.07763672,  0.3203125 ,
       -0.22265625, -0.08447266, -0.10742188,  0.11279297, -0.13867188,
       -0.21875   ,  0.0145874 ,  0.13378906, -0.00921631,  0.00921631,
        0.16894531,  0.16894531, -0.078125  , -0.00665283,  0.03735352,
       -0.10888672, -0.25390625,  0.01452637, -0.09716797, -0.19628906,
       -0.01782227, -0.28125   , -0.02050781, -0.02905273, -0.09375   ,
       -0.17675781,  0.21484375, -0.05224609, -0.11572266, -0.01977539,
       -0.10839844, -0.01342773, -0.15332031, -0.140625  , -0.11816406,
        0.09228516,  0.109375  ,  0.05761719, -0.03466797,  0.03564453,
       -0.12011719, -0.14257812, -0.00072479, -0.06689453,  0.11914062,
       -0.10449219,  0.07861328, -0.12792969,  0.09570312, -0.00817871,
        0.07128906,  0.20703125, -0.03149414,  0.09570312,  0.17285156,
       -0.07958984, -0.02429199, -0.07519531, -0.07568359,  0.09521484,
       -0.06494141, -0.00689697, -0.09033203,  0.03100586,  0.19921875,
       -0.10644531, -0.11474609,  0.18652344, -0.05078125,  0.0859375 ,
        0.00128937, -0.18847656, -0.20019531, -0.02832031,  0.11328125,
        0.25976562,  0.22070312,  0.04101562,  0.00171661,  0.07568359,
       -0.01196289,  0.0177002 , -0.05883789, -0.25976562, -0.234375  ,
       -0.04956055,  0.25976562,  0.15332031,  0.15136719,  0.08300781,
       -0.15527344,  0.04931641,  0.07519531, -0.05078125, -0.1328125 ,
       -0.13574219,  0.04199219, -0.14257812,  0.02099609,  0.07861328,
        0.01611328,  0.01623535, -0.21582031,  0.01599121, -0.04882812,
       -0.02404785,  0.13476562,  0.08496094, -0.01196289,  0.10009766,
       -0.13867188,  0.08056641, -0.22070312, -0.12011719,  0.18945312,
        0.05444336, -0.05053711,  0.00147247,  0.14160156, -0.06494141,
       -0.05566406, -0.09033203, -0.0267334 , -0.10498047,  0.02416992,
        0.01422119,  0.1875    , -0.16503906,  0.01538086, -0.04174805,
        0.05444336, -0.01184082, -0.15625   ,  0.00193024, -0.06982422],
      dtype=float32)

In [151]:
def similarity(w1,w2):
    return sum(w1*w2) / sum(w1 *w2)**0.5/ sum(w2*w2)**0.5 

out = []
out2 = []
out3 = []
out4 = [] 
index =[]

bad = w2v['bad']
small = w2v['small']
dirty = w2v['dirty']
unfriend = w2v['unfriendly']
far = w2v['far']
inconven = w2v['inconvenient']
disappoint = w2v['disappointed']

good = w2v['good']
clean = w2v['clean']
friend = w2v['friendly']
close = (w2v['close']+w2v['near'])/2
conven = w2v['convenient']
recommend = w2v['recommend']
response = w2v['responsive']
comfortable = w2v['comfortable']

false_pos = ['quite','really','much','dirty','right','little','there','back','bad','enough','only','inconvenient','very','not','outside']
skip = ['quite','much','larger','clean', 'good', 'awesome', 'clean', 'large','big','happy', 'friendly','hospitable', 'friendliest','huge','close','convenient','recommend'] 
for i,words in review['keyword'][(review['eng'] == True)  & (review['keyword'].notna())].iteritems():
    negword = [] 
    posword = []
    index.append(i)
    for word in words:
        try:
            vec = w2v[word]
            if word in false_pos:
                pass
            elif word in ['cozy','modern','brilliant'] or similarity(good,vec) > 0.6 or similarity(clean,vec) > 0.6 or similarity(friend,vec) > 0.6 or similarity(close,vec) > 0.6 or similarity(conven,vec) > 0.6 or similarity(recommend,vec) > 0.6 or  similarity(response,vec) > 0.6 or  similarity(comfortable,vec) > 0.6:
                posword.append(word)
            if word in skip:
                continue
        except:
            continue
        if word in ['however','although','noisy','old'] or similarity(vec, bad) > 0.7 or similarity(vec,small) > 0.7 or similarity(vec, dirty) > 0.7 or similarity(vec,unfriend) > 0.7 or similarity(vec,far) > 0.7 or similarity(vec,inconven) > 0.7 or similarity(disappoint,vec) > 0.7:
            negword.append(word)
            count += 1
    posword = [word for word in posword if word not in negword]
    negword = [word for word in negword if word not in posword]
    
    out4.append(posword)
    out2.append(negword)
    out.append(len(negword))
    if ('perfect' in posword) or ('best' in posword): 
        out3.append(100)
    else:
        out3.append(len(posword))
out = pd.Series(out, index=index)
out2 = pd.Series(out2,index=index)
out3 = pd.Series(out3,index=index)
out4 = pd.Series(out4,index=index)

print(out.shape)
print(out2.shape)
print(out3.shape)

review['negCount'] = pd.Series([None] * review.shape[0])
review['negWord'] = pd.Series([None] * review.shape[0])
review['posCount'] =  pd.Series([None] * review.shape[0])
review['posWord'] =  pd.Series([None] * review.shape[0])

review['negCount'].iloc[index] = out
review['negWord'].iloc[index] = out2
review['posCount'].iloc[index] = out3
review['posWord'].iloc[index] = out4

review[['posCount','negWord','negCount','comments']][(review['eng'] == True) & (review['negCount'].notna())& (review['negCount'] > 0)].sample(10)

C:\Users\Chan Ho Park\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

(3423,)
(3423,)
(3423,)

C:\Users\Chan Ho Park\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,posCount,negWord,negCount,comments
171,6,"[old, old, smaller]",3,veronica hospitable enough wait late check-in ...
1387,12,[small],1,great location close busy soho quieter neighbo...
1702,9,[smallish],1,convenient smallish apartment fantastic locati...
1606,15,"[noisy, noisy, small]",3,wanchai definitely one convenient spot hong ko...
2874,8,"[old, old]",2,patrick kind helpful host always responses qui...
156,2,[smaller],1,great location walking distance many place dim...
2674,6,[small],1,overall great place stay hong kong want stay c...
186,100,[small],1,perfect location great price wonderful service...
1517,8,[small],1,great apartment experience host problem get bu...
425,4,"[smaller, sorry]",2,friend satisfied apartment though little small...

In [152]:
review['sentiment'] = ((review['negCount']*2 - review['posCount'] < 1) | (len(review['negWord']) == 0))
review[['sentiment','negWord','posWord','comments']][(review['sentiment'] == False) & (review['comments'].notna())].sample(5)

,sentiment,negWord,posWord,comments
412,False,"[old, old, far, old, old, dirty, small]","[allow, recommend, actually, nice, nice, unfor...",beware false advertising address brendan allow...
3340,False,"[smaller, small, however]","[great, great, big, comfortable, definitely]",family adult kid great stay apartment course a...
873,False,"[unpleasant, scary]",[],unpleasant experience while n't know exactly c...
3644,False,"[old, old, smaller, small]","[clean, unique]",the building old apartment clean cosy the room...
916,False,"[small, small, small]","[close, close]",the bedroom really really really small standar...

In [153]:
review.to_csv('./1013.csv')

In [100]:
similarity(w2v['comfortable'],w2v['cozy'])

0.5806707739438449

## Listing.csv

In [10]:
listing = pd.read_csv('./Data/listings.csv')
listing['neighbourhood'].value_counts()

Yau Tsim Mong        4764
Central & Western    2628
Wan Chai             2315
Islands               547
Kowloon City          465
Eastern               402
Sham Shui Po          261
Yuen Long             246
North                 232
Sai Kung              169
Sha Tin               123
Southern              113
Kwun Tong              68
Tsuen Wan              63
Tai Po                 55
Tuen Mun               54
Kwai Tsing             39
Wong Tai Sin           25
Name: neighbourhood, dtype: int64

In [11]:
listing.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,69074,Beautiful oasis of plants & art @ best location,160139,Amy,NaN,Central & Western,22.28352,114.15018,Entire home/apt,1408,3,130,2019-05-02,1.27,1,159
1,101765,Lamma Island flat 2min walk from the beach!,532909,Michael,NaN,Islands,22.20022,114.13461,Entire home/apt,430,2,11,2019-06-09,0.71,1,47
2,103760,Central Centre 5 min walk to/from Central MTR,304876,Brend,NaN,Central & Western,22.28407,114.15570,Entire home/apt,853,2,260,2019-07-04,2.65,12,329
3,132773,Fabulous 2 Bdrm Aprt Open kitchen,304876,Brend,NaN,Central & Western,22.28868,114.14494,Entire home/apt,1056,2,259,2019-07-03,2.66,12,308
4,133390,"Soho, Hong Kong 1 bedroom flat",654642,Robin,NaN,Central & Western,22.28343,114.15539,Entire home/apt,939,2,27,2015-06-30,0.28,1,91

In [117]:
from sklearn.cluster import KMeans

def cluster_num(loc,km):
    '''
    k mean cluster the neighborhood based on geographical location
    '''
    return km.predict([loc])[0]


def build_kmean(cluster,X,fig):
    plt.figure(2,figsize=(12,10))
    km = KMeans(
        n_clusters=cluster, init='random',
        n_init=10, max_iter=300, 
        tol=1e-04, random_state=0
    )
    X = pd.DataFrame(X,columns=['x','y'])
    y_km = km.fit_predict(X)
    plt.figure(fig)
    for i in range(cluster):
        plt.scatter(
            X['x'][y_km == i], X['y'][y_km == i],
            s=50,
            marker='s', edgecolor='black',
            label='cluster '+ str(i)
        )
    return km
def neighbour(listing_id):
    try:
        tmp = listing['neighbourhood'][listing['id'] == listing_id].values.tolist()
        if len(tmp) == 1:
            return tmp[0]
        else:
            print(tmp)
            return "Nan"
    except:
        return "Nan"

def listing_loc(id_):
    '''
    append column on review
        -the location of the listing 
    '''
    return id2loc[id_]

In [119]:
global listing
listing = pd.read_csv('./Data/listings.csv')
print(listing.columns)
print(listing.shape)
listing.head(10)
global id2loc
id2loc = listing[['latitude','longitude','id']].values
id2loc = {z:[x,y] for x,y,z in id2loc }
X = pd.DataFrame([id2loc[x] for x in id2loc],columns=['x','y'])

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')
(12569, 16)

In [118]:
# find optimal number of k
distortions = []
for i in range(1, 11):
    km = KMeans(
        n_clusters=i, init='random',
        n_init=10, max_iter=300,
        tol=1e-04, random_state=0
    )
    km.fit(X)
    distortions.append(km.inertia_)

# plot distortion graph
plt.figure(99,figsize=(12,10))
plt.plot(range(1, 11), distortions, marker='o')
plt.xlabel('Number of clusters')
plt.ylabel('Distortion')
cluster = 4

NameError: name 'X' is not defined

In [ ]:
review['cluster'] = [-1] * review.shape[0]
print(review.columns)
for i,n in enumerate(['Yau Tsim Mong','Central & Western','Wan Chai']):
    X = review['loc'][review['neighbourhood'] == n ].values
    X = [[x[0],x[1]] for x in X]
    kmean = build_kmean(cluster,X,10+i)
    review['cluster'][review['neighbourhood'] == n ] = review['loc'][review['neighbourhood'] == n ].apply(cluster_num,args=(kmean,))
review[review['neighbourhood'] == 'Wan Chai'].sample(20)

In [12]:
len(review['neighbourhood'].unique())

18

### tf-idf (extract keyword of subcluster)

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer
import json

def embedding(sent,transformer,cv):
    tf_idf_vector=transformer.transform(cv.transform([sent]))
    sorted_items=sort_coo(tf_idf_vector.tocoo())
    return sorted_items

def keyword(vector,feature_names):
    keywords=extract_topn_from_vector(feature_names,vector,5)
    return keywords

def sort_coo(coo_matrix):
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)

def extract_topn_from_vector(feature_names, sorted_items, topn=10):
    """get the feature names and tf-idf score of top n items"""
    #use only topn items from vector
    sorted_items = sorted_items[:topn]
    score_vals = []
    feature_vals = []
    # word index and corresponding tf-idf score
    for idx, score in sorted_items:
        #keep track of feature name and its corresponding score
        score_vals.append(round(score, 3))
        feature_vals.append(feature_names[idx])
    #create a tuples of feature,score
    results= {}
    for idx in range(len(feature_vals)):
        results[feature_vals[idx]]=score_vals[idx]
    return results

In [30]:
docs = review['keyword'][review['eng'] == True].values.tolist()
docs = [" ".join(x) for x in docs]
cv=CountVectorizer(max_df=0.85,stop_words=stop_list, max_features=10000)
word_count_vector=cv.fit_transform(docs)
print(list(cv.vocabulary_.keys())[:10])
feature_names=cv.get_feature_names()

tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count_vector)
neighbor_keyword = {}
for p in list(range(cluster))+[-1]:
    for q in review['neighbourhood'].unique():
        comment = " ".join([str(x) for x in review['keyword'][(review['cluster'] == p) & (review['neighbourhood'] == q) & (review['eng'] ==True)].values.tolist()])
        neighbor_keyword[str(p)+"-"+str(q)] = keyword(embedding(comment,tfidf_transformer,cv),feature_names)

for key in neighbor_keyword:
    if len(neighbor_keyword[key]) > 0:
        print(key,neighbor_keyword[key])
listing_keyword = {}
for listing in review['listing_id'][review['eng'] == True].unique():
        comment = " ".join([str(x) for x in review['keyword'][(review['listing_id'] == listing) & (review['eng'] ==True)].values.tolist()])
        listing_keyword[str(listing)] = keyword(embedding(comment,tfidf_transformer,cv),feature_names)
with open("neighbor_keyword.json", 'w') as json_file:
    json.dump(neighbor_keyword, json_file)
with open("listing_keyword.json", 'w') as json_file:
    json.dump(listing_keyword, json_file)

review.sample(20)

['lovely', 'apartment', 'great', 'quickly', 'always', 'much', 'pleasant', 'apt', 'anonymous', 'also']
0-Central & Western {'great': 0.372, 'nice': 0.262, 'good': 0.244, 'clean': 0.229, 'flat': 0.221}
0-Yau Tsim Mong {'good': 0.33, 'great': 0.309, 'clean': 0.289, 'small': 0.246, 'nice': 0.216}
0-Wan Chai {'great': 0.341, 'good': 0.29, 'clean': 0.269, 'small': 0.206, 'really': 0.19}
1-Central & Western {'great': 0.408, 'good': 0.218, 'clean': 0.195, 'nice': 0.192, 'central': 0.188}
1-Yau Tsim Mong {'good': 0.334, 'great': 0.283, 'clean': 0.273, 'nice': 0.236, 'also': 0.222}
1-Wan Chai {'great': 0.365, 'good': 0.278, 'clean': 0.233, 'nice': 0.215, 'really': 0.198}
2-Central & Western {'great': 0.401, 'good': 0.23, 'clean': 0.219, 'nice': 0.218, 'well': 0.201}
2-Yau Tsim Mong {'good': 0.324, 'great': 0.299, 'clean': 0.286, 'small': 0.248, 'also': 0.214}
2-Wan Chai {'great': 0.347, 'nice': 0.239, 'good': 0.229, 'clean': 0.204, 'really': 0.204}
3-Central & Western {'great': 0.358, 'nice': 0.261, 'good': 0.233, 'clean': 0.218, 'really': 0.204}
3-Yau Tsim Mong {'good': 0.347, 'clean': 0.28, 'great': 0.274, 'small': 0.265, 'also': 0.222}
3-Wan Chai {'great': 0.363, 'good': 0.336, 'clean': 0.256, 'also': 0.201, 'nice': 0.199}
-1-Islands {'great': 0.321, 'nice': 0.312, 'clean': 0.229, 'good': 0.22, 'really': 0.184}
-1-Yuen Long {'great': 0.359, 'nice': 0.271, 'good': 0.254, 'really': 0.206, 'friendly': 0.181}
-1-Southern {'great': 0.307, 'nice': 0.242, 'flat': 0.227, 'good': 0.206, 'comfortable': 0.182}
-1-Eastern {'great': 0.339, 'good': 0.258, 'nice': 0.251, 'really': 0.221, 'clean': 0.205}
-1-Kowloon City {'good': 0.32, 'nice': 0.296, 'great': 0.275, 'clean': 0.256, 'really': 0.209}
-1-Kwai Tsing {'nice': 0.282, 'really': 0.269, 'big': 0.203, 'great': 0.2, 'good': 0.198}
-1-North {'nice': 0.385, 'clean': 0.259, 'good': 0.257, 'great': 0.228, 'comfortable': 0.221}
-1-Sham Shui Po {'good': 0.318, 'nice': 0.24, 'great': 0.234, 'really': 0.233, 'small': 0.231}
-1-Sha Tin {'nice': 0.304, 'good': 0.228, 'great': 0.224, 'really': 0.218, 'clean': 0.208}
-1-Sai Kung {'great': 0.31, 'nice': 0.291, 'lovely': 0.217, 'really': 0.21, 'clean': 0.204}
-1-Tuen Mun {'great': 0.344, 'good': 0.289, 'nice': 0.246, 'clean': 0.207, 'also': 0.2}
-1-Tai Po {'nice': 0.281, 'clean': 0.241, 'really': 0.228, 'great': 0.22, 'good': 0.203}
-1-Wong Tai Sin {'nice': 0.297, 'clean': 0.277, 'also': 0.244, 'great': 0.239, 'local': 0.204}
-1-Tsuen Wan {'nice': 0.366, 'good': 0.293, 'great': 0.21, 'clean': 0.202, 'also': 0.165}
-1-Kwun Tong {'nice': 0.264, 'good': 0.249, 'clean': 0.245, 'great': 0.243, 'really': 0.232}

,listing_id,id,date,reviewer_id,reviewer_name,comments,eng,comment_token,keyword,entities,words,loc,neighbourhood,cluster
228006,25923064,367507978,2019-01-05,130822762,可可,NaN,False,NaN,NaN,NaN,NaN,"[22.32262, 114.16795]",Yau Tsim Mong,1
177755,19830017,459925045,2019-05-28,72103688,Xinyi,Location great near Tsim Sha Tsui station The ...,True,"(Location, great, near, Tsim, Sha, Tsui, stati...","[great, small, clean, tidy, towel, really, fri...","[(Tsim Sha Tsui, FAC)]","[Location, great, near, Tsim, Sha, Tsui, stati...","[22.29658, 114.17338000000001]",Yau Tsim Mong,0
32314,3525683,31030467,2015-05-01,7604796,Emma,Wilson amaze host responsive question helpful ...,True,"(Wilson, amaze, host, responsive, question, he...","[responsive, flat, nice, nice, portable, wifi,...","[(Wilson, ORG), (Tin Hau, PERSON), (Hong Kong,...","[Wilson, amaze, host, responsive, question, he...","[22.28458, 114.1921]",Wan Chai,2
189597,21037375,263031820,2018-05-11,72267721,伟力,NaN,False,NaN,NaN,NaN,NaN,"[22.31567, 114.17078000000001]",Yau Tsim Mong,3
243486,29264367,347809361,2018-11-12,223678528,Ming Hua,NaN,False,NaN,NaN,NaN,NaN,"[22.296110000000002, 114.1726]",Yau Tsim Mong,0
9020,754511,3587912,2013-02-19,4989170,Harrison,Such great place The decor amenities cozy cute...,True,"(Such, great, place, The, decor, amenities, co...","[such, great, extremely, well, outfitted, show...","[(Bathroom, NORP)]","[Such, great, place, The, decor, amenities, co...","[22.27926, 114.19207]",Wan Chai,2
237287,27917900,428431624,2019-03-25,49833321,Reiko,NaN,False,NaN,NaN,NaN,NaN,"[22.28472, 114.13668999999999]",Central & Western,3
104942,10913704,104273315,2016-09-25,47391151,Christy,Nice modern apartment amaze view Staff helpful...,True,"(Nice, modern, apartment, amaze, view, Staff, ...","[modern, amaze, view, friendly, stay]",[],"[Nice, modern, apartment, amaze, view, Staff, ...","[22.308770000000003, 114.18332]",Kowloon City,-1
98576,10187545,120980461,2016-12-12,36366054,Sergei,NaN,False,NaN,NaN,NaN,NaN,"[22.31849, 114.17164]",Yau Tsim Mong,3
208079,23046977,261750425,2018-05-07,3248595,Kai,Fantastic location Great value Would recommend...,True,"(Fantastic, location, Great, value, Would, rec...",[fantastic],[],"[Fantastic, location, Great, value, Would, rec...","[22.28152, 114.15167]",Central & Western,1
90914,9300776,103487116,2016-09-22,73465071,Rina,Tuan rumah sangat ramah tuan rumah menuntun ka...,True,"(Tuan, rumah, sangat, ramah, tuan, rumah, menu...","[tuan, tuan, naik, pemberhentian, sebutkan, pe...","[(Setelah, ORG), (Tuan, GPE)]","[Tuan, rumah, sangat, ramah, tuan, rumah, menu...","[22.32441, 114.16738000000001]",Yau Tsim Mong,1
226798,25610398,344631964,2018-11-04,223270680,篠原,NaN,False,NaN,NaN,NaN,NaN,"[22.28034, 114.18441000000001]",Wan Chai,0
238313,28139425,475260914,2019-06-24,249158468,敏宁,NaN,False,NaN,NaN,NaN,NaN,"[22.31851, 114.17136]",Yau Tsim Mong,3
13234,923017,46879657,2015-09-14,36344738,Sriisara,stayed Alice apartment day Alice take care lun...,True,"(stayed, Alice, apartment, day, Alice, take, c...","[stayed, lunch, clean, comfortable, much]","[(Alice, PERSON), (Alice, PERSON), (Alice, PER...","[stayed, Alice, apartment, day, Alice, take, c...","[22.32471, 114.16751000000001]",Yau Tsim Mong,1
159463,18004323,341858210,2018-10-28,45509178,凤清,NaN,False,NaN,NaN,NaN,NaN,"[22.32234, 114.16735]",Yau Tsim Mong,1
152628,17160452,268137074,2018-05-24,128637883,恩妤,Great location right next Time Squad SOGO next...,True,"(Great, location, right, next, Time, Squad, SO...","[right, next, next, nice, little, intriguing, ...","[(Time Squad SOGO, ORG), (Stefanie, PERSON)]","[Great, location, right, next, Time, Squad, SO...","[22.28013, 114.18279]",Wan Chai,0
222873,24892931,299466690,2018-07-31,89459842,允燕,NaN,False,NaN,NaN,NaN,NaN,"[22.275660000000002, 114.17591000000002]",Wan Chai,3
215665,23830914,440543180,2019-04-21,25359548,Stewart,The location truly indeed great easy access MT...,True,"(The, location, truly, indeed, great, easy, ac...","[truly, indeed, great, easy, mid-level, local,...","[(Lots, PERSON), (first, ORDINAL), (Communicat...","[The, location, truly, indeed, great, easy, ac...","[22.285610000000002, 114.15055]",Central & Western,2
161138,18088216,417641595,2019-02-28,68172022,Joanne,Second time stay great usual Thanks Sam Helen,True,"(Second, time, stay, great, usual, Thanks, Sam...","[second, great, usual]","[(Second, ORDINAL), (Sam Helen, PERSON)]","[Second, time, stay, great, usual, Thanks, Sam...","[22.29791, 114.16996999999999]",Yau Tsim Mong,0
202344,22173034,228739546,2018-01-21,108988561,Hyein,Great location Very close mrt station deliciou...,True,"(Great, location, Very, close, mrt, station, d...","[close, delicious, immediately, highly, recomm...",[],"[Great, location, Very, close, mrt, station, d...","[22.29618, 114.17546000000002]",Yau Tsim Mong,0

## Check similarity of review sentiment for same listing

#### Note that tensorflow version must be 1.1

In [ ]:
!pip uninstall tensorflow

In [ ]:
!pip install tensorflow==1.1.0

In [ ]:
import gensim.downloader as api 

def embed(sent, model):
    exception = 0 
    out = 0
    for i,word in enumerate(sent):
        if 1:
            if i == 0 : 
                out = model[word]
            else:
                out += model[word]
        else:
            print(word,"not in list")
            exception+=1
            pass
    
    return out/(len(sent)-exception)

model = api.load('word2vec-google-news-300')
review['embedding'] = review['cleaned_comment'].apply(embed, args=(model,))

In [ ]:
from sklearn.cluster import KMeans, MiniBatchMeans

kmeans = MiniBatchMeans(n_clusters=6)
commentK6 = kmeans.fit_predict(review['embedding'])
review['cluster'] = pd.DataFrame(commentK6)

review['comment'][review['cluster']== 1].sample(20)

In [ ]:
listing = pd.read_csv('./listings.csv')
print(listing.shape)
print(listing.head(5))

plt.figure(1)
plt.scatter(listing['availability_365'], listing['reviews_per_month'])

# abnormal in the sense that too many reviews compared to availability
abnormal = listing['id'][(listing['availability_365'] < 50) & (listing['reviews_per_month'] > 10)].tolist()
abnormal_host = listing['host_id'][(listing['availability_365'] < 50) & (listing['reviews_per_month'] > 10)].tolist()
print(abnormal, abnormal_host)

In [ ]:
review['comments'][review['listing_id'].isin(abnormal)]

In [ ]:
# abnormal in the sense that too less reviews compared to availability
abnormal = listing['id'][(listing['availability_365'] > 300) & (listing['reviews_per_month'] < 3)].tolist()
abnormal_host = listing['host_id'][(listing['availability_365'] > 300) & (listing['reviews_per_month'] < 3)].tolist()

review['comments'][review['listing_id'].isin(abnormal)].sample(20)

In [ ]:
calendar = pd.read_csv('./calendar.csv')
calendar.head(10)